
{{set . "title" "Home"}}

{{template "jmobile/header.html" .}}

<!-- Start of first page -->
<div data-role="page" id="index">

    <div data-role="header" XXdata-position="fixed"  data-theme="b" class="xlogo">
        <h1 >{{.root.Ticker}}</h1>
    </div>

    <div data-role="content" class="ui-content">
        <h1>Staff Site</h1>

        <a class="ui-btn ui-icon-carat-r ui-btn-icon-right ui-btn-b" href="/jmobile" >Mobile Interface</a>
        <a class="ui-btn  ui-icon-carat-r ui-btn-icon-right ui-btn-b" rel="external"  href="/staff" >Browser Interface</a>
        <a class="ui-btn  ui-icon-bullets ui-btn-icon-right ui-btn-b" href="/install/desktop" >Desktop Install</a>


    </div><!-- /content -->


</div><!-- /page -->





{{template "jmobile/footer.html" .}}