
{{set . "title" "Accounts"}}

{{template "jmobile/header.html" .}}

<!-- Start of first page -->
<div data-role="page" id="index">

    <div data-role="header" XXdata-position="fixed"  data-theme="b" class="xlogo">
        <h1 >{{.title}}</h1>
        <a rel="external" href="/login" data-icon="lock" class="ui-btn-right" data-theme="c">Staff Login</a>


        <div data-role="navbar" data-theme="b">
            <ul>
                {{ range $n := .nav }}
                <li><a rel="external" href="/jmobile/{{$n.Path}}"
                        data-icon="{{$n.Icon}}"
                        {{if $n.Path }} class="ui-btn-active"{{end}}
                        >{{$n.Path}}</a></li>
                {{ end }}
            </ul>
        </div>
    </div>


    <!-- Start of first page -->
    <div data-role="page" id="staff-accounts">



        <div data-role="content" class="ui-content">
            {# <h1>Accounts Index</h1> #}
            <ul data-role="listview">
                {{ range $a := .accounts }}
                <li><a rel="external" href="/staff/account/{{$a.account_id}}">{{$a.ticker}}: {{$a.company}}</a></li>
                {{ end }}
            </ul>
        </div><!-- /content -->
    </div><!-- /page -->



</div><!-- /page -->





{{template "jmobile/footer.html" .}}