
{{ $tab := .tab }}
{{set . "title" "Accounts"}}

{{template "jmobile/header.html" .}}


<div data-role="page" id="accounts">

    <div data-role="header" data-position="fixed"  data-theme="b" class="xlogo">
        <h1 >{{.title}} </h1>
        <a rel="external" href="/login" data-icon="lock" class="ui-btn-right" data-theme="c">Staff Login</a>


        <div data-role="navbar" data-theme="b">
            <ul>
                {{ range $n := .nav }}
                <li><a rel="external" href="/jmobile/{{$n.Path}}"
                        data-icon="{{$n.Icon}}"
                        {{if eq $n.Path $tab }} class="ui-btn-active"{{end}}
                        >{{$n.Label}}</a></li>
                {{ end }}
            </ul>
        </div>
    </div>




    <div data-role="content" class="ui-content">

        <ul data-role="listview" data-filter="true" data-autodividers="true">
            {{ range $a := .accounts }}
            <li><a rel="external" href="/jmobile/account/{{$a.AccountId}}">
                <h2>{{$a.Ticker}}</h2><p>{{$a.Company}}</p>
            </a></li>
            {{ end }}
        </ul>
    </div>




</div>





{{template "jmobile/footer.html" .}}