<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{.title}} - Factory Planner</title>

    <meta charset="utf-8">
    <meta name="ROBOTS" content="NOINDEX, NOFOLLOW">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="stylesheet" href="/public/jquery.mobile-1.4.4/jquery.mobile-1.4.4.min.css" />
    <link href="/static/css/custom.css" rel="stylesheet">

    <script src="/public/js/jquery-1.9.1.min.js"></script>
    <script src="/public/jquery.mobile-1.4.4/jquery.mobile-1.4.4.min.js"></script>

</head>
<body>