
{{set . "title" "Staff Login"}}

{{template "jmobile/header.html" .}}


<div data-role="page" id="index">

    <div data-role="header" XXdata-position="fixed"  data-theme="b" class="xlogo">
        <h1 >{{.title}}</h1>
        <a rel="external" href="/login" data-icon="lock" class="ui-btn-right" data-theme="c">Staff Login</a>


        <div data-role="navbar" data-theme="b">
            <ul>
                {{ range $n := .nav }}
                <li><a rel="external" href="/jmobile/{{$n.Path}}"
                        data-icon="{{$n.Icon}}"
                        {{if $n.Path }} class="ui-btn-active"{{end}}
                        >{{$n.Path}}</a></li>
                {{ end }}
            </ul>
        </div>
    </div>

    <!-- /content -->
    <div data-role="content" class="ui-content">
        <h1>{{.root.Ticker}} Staff</h1>
        <div data-role="fieldcontain">
            <label for="curr_date">Curr Date:</label>
            <input type="text" name="curr_date" id="curr_date" readonly="true" value="{{date .now}}" placeholder="Date"/>
            <label for="curr_week">Curr Week:</label>
            <input type="text" name="curr_week" id="curr_week" readonly="true" value="{{week .now}} : {{year .now}}" placeholder="Week"/>
        </div>

    </div>


</div>

{{template "jmobile/footer.html" .}}