
{{set . "title" "Home"}}

{{template "jmobile/header.html" .}}

<!-- Start of first page -->
<div data-role="page" id="index">

    <div data-role="header" XXdata-position="fixed"  data-theme="b" class="xlogo">
        <h1 >{{.title}}</h1>
        <a rel="external" href="/login" data-icon="lock" class="ui-btn-right" data-theme="c">Staff Login</a>


        <div data-role="navbar" data-theme="b">
            <ul>
                {{ range $n := .nav }}
                <li><a rel="external" href="/jmobile/{{$n.Path}}"
                        data-icon="{{$n.Icon}}"
                        {{if $n.Path }} class="ui-btn-active"{{end}}
                        >{{$n.Path}}</a></li>
                {{ end }}
            </ul>
        </div>
    </div>

    <div data-role="content" class="ui-content">
        <h1>Welcome to Staff Website</h1>
        <div data-role="fieldcontain">
            <label for="curr_date">Curr Date:</label>
            <input type="text" name="curr_date" id="curr_date" readonly="true" value="{{date .now}}" placeholder="Date"/>
            <label for="curr_week">Curr Week:</label>
            <input type="text" name="curr_week" id="curr_week" readonly="true" value="{{week .now}} : {{year .now}}" placeholder="Week"/>
        </div>


        <p class="lead">To use this system or a windows desktop, sett the install the desktop tools.</p>
        <a href="/desktop-install" class="btn-large btn-success">Desktop Install Instructions</a>
    </div><!-- /content -->


</div><!-- /page -->





{{template "jmobile/footer.html" .}}